aniso8601
annotated-types
cachetools
certifi
charset-normalizer
click
docstring_parser
Flask
Flask-Cors
Flask-RESTful
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
idna
itsdangerous
Jinja2
joblib
lxml
MarkupSafe
nltk
numpy
packaging
pandas
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pypdf
PyPDF2
python-dateutil
python-docx
pytz
regex
requests
rsa
shapely
six
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
